@import url('https://fonts.googleapis.com/css?family=Lato:100,300');

@media only screen and (max-width: 801px) {
.text-item{
    display: none;
}
.spacer{
    display: none;
}

.mobileHeader:before{
    content: "UT Course Updater";
    color: white;
    font-size: 5vw;
    padding-left: 20%;

}


}
.icon-bar {
  color: white;
  border-color: white;
  background-color: white;
}


* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  -webkit-user-select: initial;
  user-select: initial;
}

/* Show it is fixed to the top */
.navbar-static-top.navbar{
   background-color: #333F48;
 }

.nav.navbar-nav li a  {

  color: white;
  letter-spacing: 1px;
  font-size: 13pt;
  font-weight: 300;

 }

 /* Remove Border */
 .navbar.navbar-default {
     background-color: #99ccff;
     border: 0;
     -webkit-box-shadow: none;
     box-shadow: none;
 }
 .navbar.navbar-default .navbar-collapse {
     border: 0;
     -webkit-box-shadow: none;
     box-shadow: none;
 }

 .navbar-custom .navbar-nav > .non-active > a:hover,
 .navbar-custom .navbar-nav > .non-active > a:focus,
 .navbar-custom .navbar-nav > .open >a {
    background-color: grey;
    border-bottom: 2px solid grey;
 }

 .navbar-custom .navbar-nav > .active > a:hover,
 .navbar-custom .navbar-nav > .active > a:focus,
 .navbar-custom .navbar-nav > .open >a {
    background-color: grey;
 }

.navbar-custom .active {
    border-bottom: 2px solid white;
}

.navbar-brand{
  background-image: url("../assets/logo.png");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}

/*done with nav bar*/

body {

  background-color: #F3903C;
  background-image: url("../assets/longhorn.png");
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center;
}

.body-a{
  font-size: 23pt;
  color: white;
  font-weight: 100;
  text-align: center;
}



.container.b{
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.text-item{
  order:1;
  width: 70vh;
}
.text-item2{
  order:1;
}
.spacer{
  order: 2;
  width: 200px;
}

.form-item1{
  order:3;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;
  border-radius: 2px;

  width: 250px;
}

.form-item2{
  order:3;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;
  border-radius: 2px;

  height: 400px;
  width: 250px;
}


.header{
  order:1;
}
.header p{

  font-size: 20pt;
  border-bottom: .1px solid lightgrey;

  padding-left: 68px;
  padding-right: 68px;
  padding-bottom: 10px;
  padding-top: 13px;


}

.header2 p{

  font-size: 12pt;
  border-bottom: .1px solid lightgrey;
  text-align: center;

  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 15px;


}

.item-body{
  order: 2;
  display: flex;
  flex-direction: column;
  align-items: center;

  }

.google{
  flex: 1;
  width: 80%;

  margin-top: 10px;
  margin-bottom: 15px;
}
.google:active{
border: 1px solid rgba(0,0,0,0);

}

.l1{
  flex: 2;
  align-self: flex-start;

  color: black;
  font-size: 10px;

  padding-left: 27px;
}

.enter-email{
  flex: 3;
  margin-bottom: 15px;
}


.e{
    color: red;
    margin-top: -10px;


    font-size: 12px;

}


.e1{
  flex: 4;
}


.enter{
    padding-left: 10px;
    width: 80%;
    length: 50px;
    font-size: 15px;
    line-height: 25px;
    color: black;
    font-weight: 300;

}
.enter::placeholder{
    font-weight: 100;
}


.l2{
  flex: 5;
  align-self: flex-start;

  color: black;
  font-size: 10px;

  padding-left: 27px;
}

.enter-name{
  flex: 6;
  width: 80%;
  margin-bottom: 15px;
}

.e2{
    flex: 7;
}

.l3{
  flex: 8;
  align-self: flex-start;

  color: black;
  font-size: 10px;

  padding-left: 27px;
}

.enter-password{
  flex: 9;
  width: 80%;
  margin-bottom: 15px;
}

.e3{
    flex: 10;
}

.btn{
  flex: 11;

  background-color: #D68745;

  margin-top: 15px;

  border: none;
  border-radius: 32px;
  width: 80%;
  height: 32px;

  letter-spacing: 1px;
  font-size: 10px;
  font-weight: 300px;
}

.have-account{
  flex: 12;
  width: 90%;

  text-align: center;
  margin-top: 5px;
  padding-bottom: 20px;
}

.have-account2{
  flex: 12;
  width: 90%;

  text-align: center;
  margin-top: 5px;
}



.btn2{

  background-color: #D68745;

  margin-top: 15px;

  border: none;
  border-radius: 32px;
  width: 100%;
  height: 32px;

  letter-spacing: 1px;
  font-size: 10px;
  font-weight: 300px;
}



.sign{
  background-color: white;
  border: none;
  color: orange;
}
.sign2{
    background-color: #F3903C;
  border: none;
  color: white;
  padding: 0;
  background: none;
}

.contact{
text-align: right;
padding-right: .5%;
border: none;
}

.sign2:hover{
    color: blue;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}
.footer2 {
  position: absolute;
  width: 20vw;
  text-align: center;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}
.sign3{
    background-color: #F3903C;
  border: none;
  color: white;
  padding: 0;
  background: none;
}
.sign3:hover{
    color: blue;
}
.contact2{
text-align: left;
padding-right: .5%;
border: none;
}



.body-a2{
    font-size: 200%;
    color: black;
    font-weight: 300;
    text-align: center;
}
