@import url('https://fonts.googleapis.com/css?family=Lato:100,300');

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  -webkit-user-select: none;
  user-select: none;
}

/* Show it is fixed to the top */
.navbar-static-top.navbar{
   background-color: #333F48;
 }

.nav.navbar-nav li a  {

  color: white;
  letter-spacing: 1px;
  font-size: 13pt;
  font-weight: 100;

 }

 /* Remove Border */
 .navbar.navbar-default {
     background-color: #99ccff;
     border: 0;
     -webkit-box-shadow: none;
     box-shadow: none;
 }
 .navbar.navbar-default .navbar-collapse {
     border: 0;
     -webkit-box-shadow: none;
     box-shadow: none;
 }

/*done with nav bar*/

body {

  background-color: #F3903C;
  background-image: url("assets/longhorn.png");
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center;

}

.body-a{
  font-size: 23pt;
  color: white;
  font-weight: 100;
  text-align: center;
}

.t1{
  margin-top: 20%;
  background-color: gray;
}

.container.b{
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.text-item{
  order:1;
  background-color: gray;
}

.spacer{
  order: 2;
  width: 400px;
  background-color: green;
}

.form-item{
  order:3;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;
  border-radius: 2px;

  height: 450px;
  width: 250px;
}

.header{
  order:1;
}
.header p{

  font-size: 20pt;
  border-bottom: .1px solid lightgrey;

  padding-left: 68px;
  padding-right: 68px;
  padding-bottom: 10px;
  padding-top: 13px;

}

.item-body{
  order: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  }

.google{
  order: 1;
  width: 80%;

  margin-top: 10px;
  margin-bottom: 5px;
}

.l1{
  order: 2;
  align-self: flex-start;

  color: black;
  font-size: 10px;

  padding-left: 27px;
}

.btn{
  order: 3;

  background-color: #D68745;

  border: none;
  border-radius: 32px;
  width: 181px;
  height: 32px;

  letter-spacing: 1px;
  font-size: 10px;
  font-weight: 300px;
}
