@import url('https://fonts.googleapis.com/css?family=Lato:100,300');

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  -webkit-user-select: initial;
  user-select: initial;
}


@media only screen and (max-width: 801px) {
.text-item{
    display: none;
}
.spacer{
    display: none;
}

.mobileHeader:before{
    content: "UT Course Updater";
    color: white;
    font-size: 5vw;
    padding-left: 20%;
}


}

.icon-bar {
  color: white;
  border-color: white;
  background-color: white;
}
/* Show it is fixed to the top */
.navbar-static-top.navbar{
   background-color: #333F48;
 }

.nav.navbar-nav li a  {

  color: white;
  letter-spacing: 1px;
  font-size: 13pt;
  font-weight: 100;

 }

 /* Remove Border */
 .navbar.navbar-default {
     background-color: #99ccff;
     border: 0;
     -webkit-box-shadow: none;
     box-shadow: none;
 }
 .navbar.navbar-default .navbar-collapse {
     border: 0;
     -webkit-box-shadow: none;
     box-shadow: none;
 }

 .navbar-custom .navbar-nav > .non-active > a:hover,
 .navbar-custom .navbar-nav > .non-active > a:focus,
 .navbar-custom .navbar-nav > .open >a {
    background-color: grey;
    border-bottom: 2px solid grey;
 }

 .navbar-custom .navbar-nav > .active > a:hover,
 .navbar-custom .navbar-nav > .active > a:focus,
 .navbar-custom .navbar-nav > .open >a {
    background-color: grey;
 }

.navbar-custom .active {
    border-bottom: 2px solid white;
}

.navbar-brand{
  background-image: url("../assets/logo.png");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}

/*done with nav bar*/

body {

  background-color: #F3903C;
  background-image: url("../assets/longhorn.png");
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center;
}

.body-a{
  font-size: 23pt;
  color: white;
  font-weight: 100;
  text-align: center;
}



.container.b{
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.text-item{
  order:1;
  width: 70vh;
}

.spacer{
  order: 2;
  width: 200px;
}

.form-item1{
  order:3;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;
  border-radius: 2px;

  width: 500px;
}


.header{
  order:1;
}
.header p{

  font-size: 13pt;

  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.header2 p{

  font-size: 12pt;
  border-bottom: .1px solid lightgrey;
  text-align: center;

  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 15px;


}

.btn{
  background-color: #D68745;

  margin-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 10px;
  border: none;
  border-radius: 32px;
  width: 50%;
  height: 32px;
  margin-left: 25%;
  letter-spacing: 1px;
  font-weight: 300px;
}


.sign2{
    background-color: #F3903C;
  border: none;
  color: white;
  background: none;
}

.contact{
text-align: right;
padding-right: .5%;
border: none;
}

.sign2:hover{
    color: blue;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

.footer2 {
  position: absolute;
  width: 20vw;
  text-align: center;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}
.sign3{
    background-color: #F3903C;
  border: none;
  color: white;
  padding: 0;
  background: none;
}
.sign3:hover{
    color: blue;
}
.contact2{
text-align: left;
padding-right: .5%;
border: none;
}
